<h1>CREATE A NEW REQUEST</h1>

{{!-- <form action="/create" action="POST">
  enterpriseUser: 
  qualifications: [{type: String, enum: ['Color Blind', 'Low Vision', 'Screen Reader', 'Hearing Impared', 'Dyslexia']}],
  webURL: String,
  payment: Number,
  isClosed: false,
</form> --}}