<button id="start">Start</button></p>
<button id="stop">End Recording Session</button></p>

<form action="/" id="client-site-form">
  <input type="text" id="site-link">
  <button type="submit">Go!</button>
</form>

<iframe id="client-site" src="" style="width: 100vw; height: 75vh"></iframe>

<img id="hidden" style="none" alt={{userID}}>

<script src="/javascripts/record.js"></script>