<main>
<div class="text">

  <h1>Do you want to create an accessible website or web app, but don't know where to start?</h1>


<h1>Connect with users with different abilities to gain real insight into how users will use your service.</h1>

<h2>Champion accessibility and empower people with disabilities.</h2>
</div>
</main>
