<h1>User Dashboard</h1>

<h2>Compatible Requests:</h2>
<div id="dash">
  <aside>
    {{#each requests}}
      <a href="/requests/{{this.enterpriseUser._id}}">Request</a>
    {{/each}}
  </aside>
  {{!-- <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aliquid voluptas tempore libero recusandae. Magnam quod aspernatur minima ab nisi. Quia numquam eius molestiae in necessitatibus dolorum sequi sint. Nemo quis voluptatibus iste adipisci nihil veritatis cupiditate voluptatem rem non.</p>
  </div> --}}
</div>