<h1>Sign in as a tester.</h1>

<form action="/user/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required><br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <button>Log in</button>
</form>