<h1>USER Signup</h1>

<form action="/user/signup" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" id="name"><br>

  <label for="username">Username</label>
  <input type="text" name="username" id="username"><br>

  <label for="email">Email</label>
  <input type="email" name="email" id="email"><br>

  <label for="password">Password</label>
  <input type="password" name="password" id="password"><br>

  <label for="qualification">Qualifications</label><br>
  <input type="checkbox" name="qualification" value="Color Blind">Color Blind<br>
  <input type="checkbox" name="qualification" value="Low Vision">Low Vision<br>
  <input type="checkbox" name="qualification" value="Screen Reader">Screen Reader<br>
  <input type="checkbox" name="qualification" value="Hearing Impared">Hearing Impared<br>
  <input type="checkbox" name="qualification" value="Dyslexia">Dyslexia<br>
  <input type="checkbox" name="qualification" value="Physical Handicap">Physical Handicap<br>
  <button>Sign up</button>
</form>