<h1>Enterprise Dashboard</h1>

<div id="dash">
  <aside>
    <a href="/requests/create">Create New Requests</a>
    <a href="/requests/current">Current Requests</a>
    <a href="/requests/closed">Previous Requests</a>
    <a href="/enterprise/update">Delete Profile</a>
  </aside>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aliquid voluptas tempore libero recusandae. Magnam quod aspernatur minima ab nisi. Quia numquam eius molestiae in necessitatibus dolorum sequi sint. Nemo quis voluptatibus iste adipisci nihil veritatis cupiditate voluptatem rem non.</p>
  </div>
</div>