<h1>Enterprise Dashboard</h1>

<div id="dash">
  <aside>
    <h2><a href="/requests/create">Create New Request</a></h2>
    <h2>Existing Requests:</h2>
    {{#each requests}}
      <a href="/request/{{this.id}}"></a>
    {{/each}}
  </aside>
  {{!-- <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aliquid voluptas tempore libero recusandae. Magnam quod aspernatur minima ab nisi. Quia numquam eius molestiae in necessitatibus dolorum sequi sint. Nemo quis voluptatibus iste adipisci nihil veritatis cupiditate voluptatem rem non.</p>
  </div> --}}
</div>